@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .row1 {
    @apply shadow-sm shadow-gray-600;
  }
  .cell1 {
    @apply w-1/5 items-center  text-sm;
  }
  .header1 {
    @apply w-1/5 items-center;
  }
}
